<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
    <servlet-name>coreServlet</servlet-name>
    <servlet-class>com.ccs.zhang.servlet.CoreServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>coreServlet</servlet-name>
        <url-pattern>/coreServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getSignature</servlet-name>
        <servlet-class>com.ccs.zhang.servlet.GetSignature</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getSignature</servlet-name>
        <url-pattern>/getSignature</url-pattern>
    </servlet-mapping>
</web-app>